html[data-theme="light"] {
    --pst-color-primary: #974b82;
    --pst-color-secondary: #7c3e8c;
}

html[data-theme="dark"] {
    --pst-color-primary: #974b82;
    --pst-color-secondary: #7c3e8c;
}

h1:has(> .hidden-title-marker) {
    display: none;
}

a:hover {
    text-decoration: none !important;
    filter: brightness(90%);
}
